<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Esteban&display=swap" rel="stylesheet">
</head>
<body>
    <div class="user">
        <aside class="sidebar">
            <h2>Finance Tracker</h2>
            <nav>
                <a href="dashboard.html">Dash</a>
                <a href="cash.html">Cash</a>
                <a href="bank.html">Bank</a>
                <a href="user.html">User</a>
            </nav>
        </aside>
        <main class="main-content">
            <header class="head">
                <h1>Profile</h1>
                <p>Manage your profile here.</p>
            </header>
            <section class="intro">
                <h2>Welcome</h2>
            </section>
            <section class="profile">
                <div class="profile-info">
                    <h3>Username</h3>
                    <p>username</p>
                </div>
                <div class="profile-info">
                    <h3>Email</h3>
                    <p>example@123</p>
                </div>
                <button class="change-pass">Change Password</button>
                <button class="logout">Logout</button>
            </section>
        </main>
    </div>
</body>
</html>